{{ header }}
{{ column_left }}

<div id="content" class="etic-overflow-y-auto etic-content">
    {% if php_version_warning %}
        <div class="alert alert-danger m-5">
            {{ php_version_warning }}
        </div>
    {% else %}
        <script>
        const iapi_url = '{{iapi_url}}';
        const iapi_base_url = iapi_url.replace(/&amp;/g, '&');
        const store_url = '{{store_url}}';
        const iapi_xfvv = '{{iapi_xfvv}}';

        window.target_url = iapi_base_url;
        window.store_url = store_url;
        window.xfvv = iapi_xfvv;
        
        let generalSettings = {
            order_status: {
                default_value:  {% if order_status != null  %} {{ order_status }}  {% else %} 0 {% endif %},
                options: {{ order_statuses }}
            },
            currency_convert: {
                default_value: '{{ currency_convert }}'  ,
                options: {
                    yes: '{{text_yes}}',
                    no: '{{text_no}}',
                }
            },
            showInstallmentsTabs: {
                default_value: '{{ showInstallmentsTabs }}',
                options: {
                    yes: '{{text_yes}}',
                    no: '{{text_no}}',
                }
            },
            paymentPageTheme: {
                default_value: '{{ paymentPageTheme }}',
                options: {
                    classic: '{{text_classic}}',
                    modern: '{{text_modern}}',
                }
            }
        }

        window.generalSettings = generalSettings;

        </script>
        <script type="module" crossorigin src="https://cdn.paythor.com/1/104/10.0.4/index.js"></script>
        <link rel="stylesheet" crossorigin href="https://cdn.paythor.com/1/104/10.0.4/index.css">
        <div id="root" data-platform="opencart" data-program-id="1" data-app-id="104"></div>
    {% endif %}
    
</div>
<style>
    .etic-overflow-y-auto {
        overflow-y: auto;
    }
    .etic-content {
        padding-bottom: 0;
    }
    #nav-profile>a>img{
        display: inline !important;
    }
    #nav-language>a>img{
        display: inline !important;
    }
    .collapse>li {
        visibility: visible !important;
    }
    
</style> 